::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-weight: 200;
  color: var(--cl-grey-75) !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-weight: 200;
  color: var(--cl-grey-75) !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-weight: 200;
  color: var(--cl-grey-75) !important;
}

.ant-input-number-input {
  width: 130px !important;
}

.ant-input[disabled] {
  background-color: var(--cl-grey-92);
  color: var(--cl-grey-75) !important;
  border-color: var(--cl-grey-85);
}

.ant-input[type='text'] {
  max-width: 700px;
}
