:root {
  --cl-primary-100: #e1f0e9;
  --cl-primary-200: #becdeb;
  --cl-primary-300: #82c4a3;
  --cl-primary-400: #6aad8c;
  --cl-primary-500: #509974;
  --cl-primary-600: #298054;
  --cl-primary-700: #216e47;
  --cl-primary-800: #1b593a;
  --cl-primary-850: #14422b;
  --cl-primary-900: #008c46;
  --cl-primary-950: #92a69c;

  // Secondary
  --cl-secondary-100: #f2fff9;
  --cl-secondary-200: #beebd5;
  --cl-secondary-300: #82c4a3;
  --cl-secondary-400: #69ad8b;
  --cl-secondary-500: #4f9974;
  --cl-secondary-600: #298055;
  --cl-secondary-700: #216e48;
  --cl-secondary-800: #1b593a;
  --cl-secondary-900: #0b2418;

  // Grey
  --cl-grey-0: #000000;
  --cl-grey-8: #141414;
  --cl-grey-12: #1f1f1f;
  --cl-grey-15: #262626;
  --cl-grey-26: #434343;
  --cl-grey-35: #595959;
  --cl-grey-55: #8c8c8c;
  --cl-grey-75: #bfbfbf;
  --cl-grey-85: #d9d9d9;
  --cl-grey-92: #ebebeb;
  --cl-grey-94: #f0f0f0;
  --cl-grey-96: #f5f5f5;
  --cl-grey-98: #fafafa;
  --cl-grey-100: #ffffff;
  --cl-grey-101: #fbfbfa;

  // Blue
  --cl-blue-1: #e6f7ff;
  --cl-blue-2: #bae7ff;
  --cl-blue-3: #91d5ff;
  --cl-blue-4: #69c0ff;
  --cl-blue-5: #40a9ff;
  --cl-blue-6: #1890ff;
  --cl-blue-7: #096dd9;
  --cl-blue-8: #0050b3;
  --cl-blue-9: #003a8c;
  --cl-blue-10: #002766;

  // Green
  --cl-green-1: #f6ffed;
  --cl-green-2: #e1f7cd;
  --cl-green-3: #b7eb8f;
  --cl-green-4: #95de64;
  --cl-green-5: #73d13d;
  --cl-green-6: #52c41a;
  --cl-green-7: #389e0d;
  --cl-green-8: #237804;
  --cl-green-9: #135200;
  --cl-green-10: #092b00;

  // Yellow
  --cl-yellow-1: #feffe6;
  --cl-yellow-2: #ffffb8;
  --cl-yellow-3: #fffb8f;
  --cl-yellow-4: #fff566;
  --cl-yellow-5: #ffec3d;
  --cl-yellow-6: #fadb14;
  --cl-yellow-7: #d4b106;
  --cl-yellow-8: #ad8b00;
  --cl-yellow-9: #876800;
  --cl-yellow-10: #614700;

  // Red
  --cl-red-1: #fff1f0;
  --cl-red-2: #ffccc7;
  --cl-red-3: #ffa39e;
  --cl-red-4: #ff7875;
  --cl-red-5: #ff4d4f;
  --cl-red-6: #d64048;
  --cl-red-7: #cf1322;
  --cl-red-8: #a8071a;
  --cl-red-9: #820014;
  --cl-red-10: #5c0011;

  //Orange
  --cl-orange-600: #ff9700;

  // font
  --font-size-mini: 12px;
  --font-size-xxs: 13px;
  --font-size-xs: 14px;
  --font-size-sm: 15px;
  --font-size-base: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;

  --font-light: 300;
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-super-bold: 900;

  // width
  --position-left-noti: 72px;
}
