.Header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 10px;

  border-bottom: 0.1rem solid #e8e8e8;

  background-color: white;

  p {
    font-size: var(--font-size-md);
    font-weight: var(--font-semi-bold);
    color: var(--cl-primary-600);
    cursor: pointer;
  }
}
